@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-dark: hsl(0, 0%, 20%);
  --primary-color-light: hsl(0, 0%, 90%);
  --primary-color-black: hsl(0, 0%, 0%);
  --primary-color-white: hsl(0, 0%, 100%);
  --switch-color-main: hsl(205, 60%, 35%);
}

html {
  color-scheme: light dark;
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2rem;
}

.main_app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  margin: 0 auto;
  width: 100vw - 2rem;
  max-width: 100rem;
  padding: 5px 10px;
}

.toggle-control {
  display: block;
  position: relative;
  padding-left: 6.25rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-size: 1.375rem;
  user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked~.control {
  background-color: dodgerblue;
}

.toggle-control input:checked~.control:after {
  left: 3.438rem;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.125rem;
  width: 6.25rem;
  border-radius: 1.563rem;
  background-color: darkgray;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 0.313rem;
  top: 0.313rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.563rem;
  background: white;
  transition: left 0.15s ease-in;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
  }
}


body{
  background-color: white;
}
